@use "@styles/var";
@use "@styles/responsive" as responsive;
@use "@styles/utils" as utils;



.attribute-row{
    display:grid;
    grid-template-columns: utils.fluid-clamp(responsive.$small-screen, responsive.$default-screen, 75px, 100px) auto;
    gap: utils.fluid-clamp(responsive.$small-screen, responsive.$default-screen, 6px, 32px);

    & > p:first-child{
	padding-top:var(--size-space-extra-small);
    }

    @include responsive.mobile{
	grid-template-columns: none;
	display: flex;
	flex-direction: column;
	gap: var(--size-space-medium);
    }
    
}
