@use "@/styles/responsive" as responsive;
@use "@/styles/utils" as utils;

.container {
  position: relative;
  background: var(--color-surface-higher);
  margin-top: var(--project-banner-height);

  @include responsive.tablet {
    display: block;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(0px, -100%, 0px);
    height: 15px;
    width: 100%;
    background: linear-gradient(
      0deg,
      var(--color-surface-lower) -810%,
      transparent 100%
    );
  }
}

.inner {
  display: flex;
  flex-direction: row;
  padding-top: var(--size-space-extra-large-4);
  gap: var(--size-space-extra-large-6);
  margin: auto;
}
