@use "@styles/responsive" as responsive;
@use "@styles/var";

.container{

    width:100vw;
    margin: auto;
    max-width: responsive.$default-screen;
    padding: 0 var(--size-margin-container);

    &[data-size="WIDE"]{
	max-width: responsive.$large-screen;
    }

    @include responsive.tablet{
	padding: 0 var(--size-margin-tablet);

	&[data-type="FLUID"]{
	    padding:0;
	}
    }


    @include responsive.tablet{
	padding: 0 var(--size-margin-mobile);

	&[data-type="FLUID"]{
	    padding:0;
	}
    }

    &[data-type="FLUID"]{
	padding:0;
    }
    
}
