@use "@/styles/responsive" as responsive;
@use "@/styles/utils" as utils;

:root {
  --project-banner-height: 560px;

  @media (max-width: 1400px) {
    --project-banner-height: 600px;
  }

  @include responsive.small-screen {
    --project-banner-height: 0px;
  }
}

.banner-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-on-dark);
  background-color: var(--color-surface-lowest);
  position: fixed;
  height: calc(var(--project-banner-height) + 30vh);

  @include responsive.small-screen {
    height: auto;
    position: inherit;
  }

  @include responsive.tablet {
    height: auto;
    position: inherit;
  }
}

.banner {
  height: var(--project-banner-height);
  display: grid;
  grid-template-columns: auto utils.fluid-clamp(
      responsive.$tablet,
      responsive.$default-screen,
      300px,
      510px
    );
  align-items: start;
  gap: utils.fluid-clamp(
    responsive.$small-screen,
    responsive.$default-screen,
    12px,
    46px
  );
  position: fixed;
  top: 0;
  text-wrap: pretty;

  @media (min-width: #{responsive.$small-screen}) {
    padding-right: utils.fluid-clamp(
      responsive.$small-screen,
      responsive.$default-screen,
      4px,
      100px // var(--size-margin-desktop)
    );
  }

  @mixin relative-mode() {
    gap: 0;
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: var(--size-space-extra-large-5);
  }

  @include responsive.small-screen {
    @include relative-mode();
  }

  @include responsive.mobile {
    @include relative-mode();
    padding-top: var(--size-space-extra-large-6);
  }
}

.content {
  position: relative;
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  gap: var(--size-space-extra-large-3);

  h1 {
    text-wrap: pretty;
  }

  .overline {
    color: var(--color-text-brand-subtle);
  }
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  user-select: none;

  @include responsive.small-screen {
    top: auto;
    bottom: 0;
  }

  @include responsive.tablet {
    top: auto;
    bottom: 0;
  }
}

.visual {
  position: relative;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  user-select: none;

  img {
    --offset: 136px;
    transform: translate3d(0px, var(--offset), 0px);
    position: relative;

    @include responsive.small-screen {
      --offset: 240px;
    }
  }

  align-self: end;

  @include responsive.small-screen {
    align-self: center;
  }

  @include responsive.tablet {
    align-self: center;
  }

  .backdrop {
    display: block;
    position: absolute;
    width: 70%;
    height: 100%;
  }
}
