@use "@styles/utils" as utils;
@use "@styles/var";
@use "@styles/responsive" as responsive;

.video {
  height: auto;
  aspect-ratio: 16/9;

  max-width: calc(100vw * 2 / 3);
  min-height: 300px;

  video {
    height: 100%;
    width: 100%;
  }

  @include responsive.small-screen {
    max-width: none;
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
  }

  @include responsive.tablet {
    max-width: none;
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
  }
}
