.tradeoff-card{

    padding: var(--size-space-extra-large) var(--size-space-extra-large) var(--size-space-extra-large-3) var(--size-space-extra-large);

    background: var(--color-surface-highest);
    border-radius: var(--size-radius-small);
    box-shadow: var(--shadow-low);
    display: flex;
    flex-direction: column;
    gap: var(--size-space-extra-large-2);
    max-width: 360px;
    width: fit-content;
    flex-shrink: 0;
    
    h6{
	text-align: center;
    }

    hr{
	border-color: var(--color-border-subtlest-on-light);
    }
}
