@use "@styles/interaction" as interaction;
@use "@styles/animation";

.header{

    width: 100vw;
    padding: var(--size-space-extra-large-3) var(--size-margin-desktop) 0 var(--size-margin-desktop);
    position: fixed;
    z-index: 4;

    .signature{

	svg{
	    fill:var(--color-icon-on-light);
	    transition: fill var(--transition-short);
	    width:30px;
	    aspect-ratio:1/1;
	    height:auto;
	}

	p{
	    transition: color var(--transition-short);
	}
	
        @include interaction.hover{

    	    color: var(--color-text-brand-base);
	    
	    .caption{
		color: var(--color-text-brand-subtle);
	    }

	    svg{
		fill: var(--color-icon-brand-base);
	       }
        }
	
    }


    
}



.mobile-menu{


    position:relative;
    z-index:100;
    
    
    /* BAR */
    
    &-bar{
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:16px;
    }
    
    &-actions{
	display:flex;
	align-items:center;
	gap:16px;
    }
    
    /* MENU BUTTON */
    
    &-toggle{
	width:28px;
	height:20px;
	
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	
	background:none;
	border:none;
    }
    
    &-toggle span{
	height:2px;
	background:black;
	display:block;
    }
    
    
    /* PANEL */
    
    &-panel{
	
	position:fixed;
	top:0;
	right:0;
	
	width:100%;
	height:100vh;
	
	background:white;
	
	padding:120px 32px 48px;
	
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	
	transform:translateX(100%);
	transition:transform .35s ease;
	
    }
    
    
    /* OPEN STATE */
    &[data-open=true]{
	transform:translateX(0);
    }
    
    &-panel{
	transform:translateX(0);
    }
    
    
    /* SECTIONS */
    
    &-section{
	display:flex;
	flex-direction:column;
	gap:16px;
    }
    
    &-categories{
	font-size:28px;
    }
    
    &-secondary{
	font-size:18px;
    }
    

}
