.quote-card {
  //background: var(--color-surface-highest);
  padding-inline: var(--size-space-extra-large);
  padding-top: var(--size-space-extra-large);
  padding-bottom: var(--size-space-extra-large-2);
  //box-shadow: var(--shadow-medium);
  border: 1px solid var(--color-border-subtlest-on-light);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 362px;
  flex: 1;
  min-width: 300px;

  hr {
    border-color: var(--color-border-subtlest-on-light);
  }

  mark {
    background: var(--color-background-brand-subtle);
    width: fit-content;
    color: var(--color-text-brand-strong);
    font-weight: var(--font-weight-medium);
  }
}

.body {
  padding-bottom: var(--size-space-extra-large);
}
