@use "@styles/utils" as utils;
@use "@styles/var";
@use "@styles/responsive" as responsive;

.project-category {
  height: auto;

  --padding-v: var(--size-space-extra-large-4);
  padding-block: var(--padding-v);

  display: flex;
  flex-direction: row;
  gap: var(--size-space-extra-large-2);
  width: 100%;
  justify-content: flex-end;

  & > a {
    flex: 1;
    height: fit-content;
  }

  @include responsive.tablet {
    flex-direction: column;
  }

  @include responsive.mobile {
    --padding-v: var(--size-space-extra-large-2);
  }

  h1.display {
    position: relative;

    // TODO replace hardcoded value

    font-size: utils.fluid-clamp(
      responsive.$default-screen,
      responsive.$extra-large-screen,
      6.56rem,
      10rem
    );
  }
}

.mosaic {
  position: absolute;

  span {
    background: var(--color-background-brand-subtle);
  }
}
