@use "@styles/responsive" as responsive;

.content {
  display: flex;
  flex-direction: row;
  gap: var(--size-space-large);
  flex: flex-wrap;

  @include responsive.tablet {
    flex-direction: column;
  }
}
