@use "@styles/interaction" as interaction;

.signature {
  &[data-theme="DARK"] {
    & > svg {
      fill: var(--color-icon-on-dark);
    }
  }

  & > svg {
    fill: var(--color-icon-on-light);
    transition: fill var(--transition-short);
    width: 30px;
    aspect-ratio: 1/1;
    height: auto;

    :lang(zh-TW) & {
      width: 32px;
    }
  }

  p {
    transition: color var(--transition-short);
  }

  @include interaction.hover {
    color: var(--color-text-brand-base);

    .caption {
      color: var(--color-text-brand-subtle);
    }

    svg {
      fill: var(--color-icon-brand-base);
    }

    &[data-theme="DARK"] {
      color: var(--color-text-brand-subtle);
      svg {
        fill: var(--color-icon-brand-subtle);
      }
    }
  }
}
