@use "@/styles/responsive" as responsive;

.portrait {
  height: auto;
  width: 100%;
  display: block;
  overflow: hidden;

  @include responsive.tablet {
    width: 100%;
    max-width: 300px;
  }
}

.portrait-container {
  aspect-ratio: 76/91;
  max-height: 700px;
  width: 100%;
  margin: auto;
}
