@use "@styles/var";
@use "@styles/animation";

.navbar{

    position:relative;
    background:var(--color-surface-highest);
    box-shadow: var(--shadow-low);

    border-radius: var(--size-radius-base);
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;
    
    max-width: 684px;
    width: 100vw;
    
    height: var(--size-height-input-large);
    

    a{
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	
	&.active{
	    color: var(--color-text-brand-base);

	    .corner-frame{
		height: 100%;
		opacity:1;

		& > div{
		    width:100%;
		}
	    }
	}
	
	.corner-frame{
	    transition: opacity, height, var(--transition-base);
	    pointer-events:none;
	    height: 0%;
	    width:100%;
	    opacity:0;
	    padding:var(--size-space-small);
	    position: absolute;

	    & > div{
		width:0%;
		transition: width var(--transition-long);
		transition-delay: 0.25s;
	    }
	}
    }

    
}

