@use "@styles/animation";
@use "@styles/interaction" as interaction;

.active-dot {
  display: inline-block;
  --size: 6px;
  width: var(--size);
  height: var(--size);
  border-radius: 1px;
  background-color: var(--color-background-brand-base);
  flex-shrink: 0;
  margin-left: 2px;
  opacity: 0.85;
}

.tree {
  &-container {
    border-left: solid 1px var(--color-border-subtlest-on-light);
    display: flex;
    flex-direction: column;
    padding-left: var(--size-space-extra-large-2);
    margin-bottom: var(--size-space-small);
    margin-top: var(--size-space-medium);
    padding-left: 0;
  }

  &-chevron {
    background: none;
    border: none;
    padding: 0 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: inherit;
    opacity: 0.6;
  }

  &-label {
    &::before {
      transition: color, width, var(--transition-short);
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      background: var(--color-surface-base);
      left: 0;
      width: 0px;
    }

    padding-left: var(--size-space-large);
    padding-block: var(--size-space-medium);
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--size-space-small);
    flex-direction: row;
    width: 100%;

    &-content {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      min-width: 0;
    }

    transition:
      color 150ms ease,
      font-weight 150ms ease;

    @include interaction.hover {
      &::before {
        width: 3px;
      }
    }

    &[data-highlighted="true"] {
      color: var(--color-text-brand-base);
      background: var(--color-background-brand-subtlest);

      &::before {
        width: 3px;
        background: var(--color-background-brand-base);
      }
    }
  }
}
