@use "@styles/responsive" as responsive;
@use "@styles/utils" as utils;

.blog-section{

    // TODO replace hardcoded value:  96 >> --size-space-extra-large-6
    padding-bottom:utils.fluid-clamp(responsive.$tablet, responsive.$default-screen, 32px, 96px);    display:flex;
    flex-direction: column;
    gap:var(--size-space-extra-large-4);

    &[data-layout=COLUMN_2]{
	display:grid;
	grid-template-columns: repeat(2, 1fr);
    }

    &[data-type=FLUID]{
	padding-right: 0;
	padding-left: 0;
    }
    
}
