@use "@styles/responsive" as responsive;
@use "@styles/utils" as utils;

.tradeoffs{

    padding-bottom: var(--size-space-extra-large-3);    
    padding-left :var(--size-margin-blog);
    padding-right :var(--after-width);
}

.header{
    display: flex; flex-direction:row; flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;

    //padding-right: var(--size-margin-container);
    padding-left: var(--size-margin-blog);
    column-gap: var(--size-space-extra-large-2);
    max-width: var(--size-width-desktop-full);
}

.nav{
    display: flex;
    flex-direction: row;
    gap: var(--size-space-large);
}

.wrapper{

    	
    // TODO replace harcoded value
    $after-breakpoint: calc(responsive.$large-screen - 260px);
    --after-width: var(--size-margin-container);
    
    position: relative;
    max-width: calc( var(--size-width-desktop-full) + var(--after-width));

    @media (min-width: #{$after-breakpoint}) {
	--after-width:260px;
    }

    &::before, &::after{
	content: '';
	position: absolute;
	height:100%;
	top:0;
	display: var(--display);

	@include responsive.tablet{
	    --display:none;
	}
	
	@include responsive.mobile{
	    --display:none;	
	}
    }

    &::before{
	--display: block;
	left:0;
	background: linear-gradient(90deg, var(--color-surface-higher) 60%, transparent);
	width:var(--size-margin-blog);
    }

    &::after{
	--display: none;
	width:var(--after-width);
	right:0;
	background: linear-gradient(-90deg, var(--color-surface-higher) 20%, transparent);

	@media (min-width: #{$after-breakpoint}) {
	    --display:block;
	}
    }
    
}
