@use "@/styles/responsive" as responsive;

.group {
  display: flex;
  gap: var(--size-space-extra-large-2);
  flex-direction: column;
  padding-top: var(--size-space-large);
  padding-bottom: var(--size-space-large);

  &[data-size="HALF"] {
    max-width: 50%;

    @include responsive.tablet {
      max-width: none;
    }

    @include responsive.mobile {
      max-width: none;
    }
  }

  &[data-direction="ROW"] {
    flex-direction: row;
    flex-wrap: wrap;

    @include responsive.tablet {
      flex-direction: column;
    }

    @include responsive.mobile {
      flex-direction: column;
    }

    & > * {
      flex: 1;
      min-width: 350px;

      @include responsive.tablet {
        min-width: 0;
      }

      @include responsive.mobile {
        min-width: 0;
      }
    }
  }
}
