// breakpoints.scss

$mobile: var(--size-width-movule-full);
$tablet: var(--size-width-tabel-full);
$widescreen: var(--size-width-desktop-full);


@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}


@mixin tablet {
  @media (min-width: #{$tablet}) and (max-width: #{$widescreen - 1px}) {
    @content;
  }
}


@mixin widescreen {
  @media (min-width: #{$widescreen}) {
    @content;
  }
}
